<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form action="/api/auth/login" method="POST">
    <label>User:</label>
    <input type="text" name="nameUser" required>
    <br>
    <label>Password:</label>
    <input type="password" name="password" required>
    <br>
    <button type="submit">Enter</button>
  </form>
</body>
</html>
