<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Ticket details</title>
</head>
<body>
  <h1>Ticket detail</h1>
  <p>ticket id: {{ ticketId }}</p>
</body>
</html>
